.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
}

.form {
  width: 30%;
  border: 1px solid #babdc2;
  padding: 50px 20px;
  border-radius: 0.25rem;
}

.anchorText span {
  margin-left: 4px;
  color: blue;
  cursor: pointer;
}
